<div [ngSwitch]="viewType">
  <!--Login -->

  <div class="div-login" *ngSwitchCase="'login'">
    <mat-form-field class="example-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" [(ngModel)]="email">
      <button *ngIf="email != ''" matSuffix mat-icon-button aria-label="Clear" (click)="onClearEmail()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="input-data">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password">
      <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <p (click)="onRegisterClick()" class="p-change-view">
      Create an account?
    </p>

    <button mat-raised-button color="accent" (click)="onSubmitLogin()">Login</button>
  </div>

  <!--Registration data-->
  <div class="div-register" *ngSwitchCase="'register'">
    <mat-form-field class="input-data">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="name">
      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-data">
      <mat-label>Email</mat-label>
      <input matInput type="text" [(ngModel)]="email">
      <button *ngIf="email != ''" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-data">
      <mat-label>Password</mat-label>
      <input matInput type="text" [(ngModel)]="password">
      <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-data">
      <mat-label>Retype Password</mat-label>
      <input matInput type="text" [(ngModel)]="retypePassword">
      <button *ngIf="retypePassword" matSuffix mat-icon-button aria-label="Clear" (click)="retypePassword=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <p (click)="onLoginClick()" class ="p-change-view">
      Back to Login
    </p>
    <button mat-raised-button color="accent"(click)="onSubmitRegister()">Register</button>


  </div>
</div>
