<div class="div-movie">

  <mat-form-field class="input-data">
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="movie.title">
    <button *ngIf="movie.title !=''" matSuffix mat-icon-button aria-label="Clear" (click)="movie.title=''">
      <mat-icon>auto_delete</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="input-data">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="movie.description">
    <button *ngIf="movie.description != ''" matSuffix mat-icon-button aria-label="Clear" (click)="movie.description=''">
      <mat-icon>auto_delete</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="input-data">
    <mat-label>Year</mat-label>
    <input matInput type="text" [(ngModel)]="movie.year">
    <button *ngIf="movie.year" matSuffix mat-icon-button aria-label="Clear" (click)="movie.year=''">
      <mat-icon>auto_delete</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="input-data">
    <mat-label>Director</mat-label>
    <input matInput type="text" [(ngModel)]="movie.director">
    <button *ngIf="movie.director" matSuffix mat-icon-button aria-label="Clear" (click)="movie.director=''">
      <mat-icon>auto_delete</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSaveMovie()">Save</button>
  <button mat-raised-button color="primary" class="btn-margin" (click)="onEditMovie()">Edit</button>
  <button mat-raised-button color="primary" class="btn-margin" (click)="onDeleteMovie()">Delete</button>

</div>
