.card-movie {
  width: 300px;
  background-color: bisque;
  elevation: higher;
  margin-bottom: 16px;
  padding: 20px;

}

.p-text {
  font-family: "Comic Sans MS";
  font-size: 14px;

}

.p-title {
  font-weight: bold;
  color: darkslateblue;
  text-transform: uppercase;
}

.div-page {
  display: flex;
}

.div-content {
  margin: auto;
  display: inline-flex;
  margin-top: 50px;
}
